GROQ_API_KEY=<GROQ_API_KEY>


LANGSMITH_TRACING_V2=true
LANGSMITH_ENDPOINT='https://api.smith.langchain.com'
LANGSMITH_API_KEY=<LANGSMITH_API_KEY>
LANGSMITH_PROJECT='AgenticXBot'


HUGGINGFACEHUB_API_TOKEN=<HUGGINGFACEHUB_API_TOKEN>

EXCHANGE_RATE_API_KEY=<EXCHANGE_RATE_API_KEY>